@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body, html{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

h1{
	font-weight: 800;
	font-size: 50px;
}

h2{
	font-weight: bold;
	font-size: 30px;
}

.home{
	background-color: #007FFF;
	height: 100vh;
}

.wrapper{
	width: 708px;
    margin: 0 auto;
    position: relative;
    top: 190px;
    right: 350px;
}

.home h1{
	color: white;
	margin: 14px 0 20px;
	margin-top: 0;
}

.home h2{
	color: white;
	margin: 0 0 495px;
}

.home img{
	background: no-repeat 0 0;
	background-size: 100%;
	width: 300px;
	height: 300px;
	position: absolute; top: 175px; right: 220.5px;
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	position: sticky;
}

nav .img{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -20%;
	margin-left: 30px;
	background: no-repeat 0 0;
	background-size: 100%;
}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box ;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 30px 31px;
}

.rapper{
	width: 1250px;
	margin: 0 auto;

}

.list{
	width: 470px;
	padding: 20px 20px 0px 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	float: left;
	margin: 0 20px 20px 0;

}

.about h2{
	font-size: 40px;
}

.about p{
	font-size: 30px;
	font-weight: 300;
}

.list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 5px 20px;
	box-sizing: border-box;
}

.list li.red{background-color: #FF3300;}
.list li.blue{background-color: #007FFF;}
.list li.yellow{
	background-color: #FFD400;
	color: #111111;
}
.list li.pink{background-color: #FFADF9;}
.list li.salmon{background-color: #FA8072;}
